<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kidney Cancer Detection</title>
  <!-- <link rel="stylesheet" href="upload.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='upload.css', _external=True) }}">
</head>
<body>
  <header>
      <nav>
        <h1>KIDNEY</h1>
        <div class="menu">
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('upload') }}">Upload Data</a>
          <a href="{{ url_for('login') }}">Logout</a>
      </div>
    </nav>
  </header>
  
  <main>
    <div class="upload-section">
      <h2>Upload Image:</h2>
      <form id="uploadForm">
        <input type="file" id="fileUpload" name="image" accept="image/jpeg" required>
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
  
  <!-- <script src="upload.js"></script> -->
  <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
